@use "variables" as v;
@use "functions" as f;
@use "mixins" as m;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

a,
a:active,
a:focus,
a:visited {
  outline: none;
}
