@use "functions" as f;
@use "variables" as v;
@use "mixins" as m;

h1 {
  font-size: f.rem(40);
  line-height: f.rem(44);
  font-family: v.$font-family;

  @include m.breakpoint(tablet) {
    font-size: f.rem(48);
    line-height: f.rem(48);
  }

  @include m.breakpoint(desktop) {
    font-size: f.rem(64);
    line-height: f.rem(64);
  }
}

h2 {
  line-height: f.rem(36);
  font-size: f.rem(32);
  font-family: v.$font-family;

  @include m.breakpoint(tablet) {
    font-size: f.rem(40);
    line-height: f.rem(44);
  }
}

p {
  font-size: f.rem(16);
  line-height: f.rem(26);
  font-family: v.$font-family;
  color: v.$color-gray;

  @include m.breakpoint(desktop) {
    font-size: f.rem(18);
  }
}

.over-line {
  font-size: f.rem(16);
  line-height: f.rem(28);
  letter-spacing: f.rem(4);
  text-transform: uppercase;
  font-family: v.$font-family;
  font-weight: v.$font-weight-bold;
  color: v.$color-dark-cyan;
}
