@use "../variables" as v;
@use "../functions" as f;

.btn {
  font-size: 16px;
  font-family: v.$font-family;
  font-weight: v.$font-weight-bold;
  color: v.$color-white;
  letter-spacing: 0;
  line-height: 26px;
  text-decoration: none;
  display: grid;
  place-content: center;
  height: 58px;
  width: 193px;
  border-radius: 50px;
  overflow: hidden;

  &-tertiary {
    width: 200px;
    background-color: v.$color-dark-purple;
  }

  &-tertiary:hover,
  &-tertiary:focus {
    background-color: v.$color-purple-hover;
  }

  &-primary {
    padding: f.rem(16) f.rem(40);
    background-color: v.$color-dark-cyan;
  }

  &-primary:hover,
  &-primary:focus {
    background-color: v.$color-cyan-hover;
  }

  &-secondary {
    background-color: v.$color-dark-purple;
    width: 139px;
  }

  &-secondary:hover,
  &secondary:focus {
    background-color: v.$color-purple-hover;
  }
}

.version {
  color: v.$color-light-cyan;

  &--secondary {
    color: v.$color-light-purple;
  }
}
