@use "../variables" as v;
@use "../functions" as f;

.section {
  display: grid;
  place-content: center;

  &__separator {
    width: f.rem(56);
    height: f.rem(84);
    background: linear-gradient(
      to right,
      transparent calc(50% - 1px),
      v.$color-light-gray,
      transparent calc(50% + 1px)
    );
  }

  &__number {
    border: solid 1px v.$color-light-gray;
    background-color: v.$color-white;
    border-radius: 100px;
    width: f.rem(56);
    height: f.rem(56);
    font-size: clamp(
      f.rem(16),
      0.9559859154929577rem + 0.18779342723004694vw,
      f.rem(18)
    );
    font-family: v.$font-family;
    color: v.$color-gray;
    font-weight: 900;
    display: grid;
    place-content: center;
  }
}
