@use "../variables" as v;
@use "../functions" as f;

.section {
  margin: 32px auto;
  width: 56px;

  &__number {
    display: grid;
    place-content: center;
    border: solid 1px v.$color-gray;
    border-radius: 100px;
    width: f.rem(56);
    height: f.rem(56);
    font-size: clamp(
      f.rem(16),
      0.9559859154929577rem + 0.18779342723004694vw,
      f.rem(18)
    );
    font-family: v.$font-family;
    color: v.$color-gray;
    font-weight: 900;
    margin-top: 114px;
  }
}
